@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&family=Roboto+Condensed:ital,wght@0,300;0,700;1,700&display=swap');
/********************************************************
 * TABLE OF CONTENTS
 * =================
 * 1. GENERAL
 * 2. MAIN
 * 3. MEDIA QUERIES
 */

/*TODO: Add carousel animation to hero, add scroll animations to content*/

/* 1. GENERAL */
:root {
  --bg: #fff;
  --primary: #3a6;
  --primary-highlighted: #4b7;
  --primary-bg-accent:#efe;
  --text: #000;
  --one-col: 8.33vw;
  --two-col: 16.66vw;
  --three-col: 25vw;
  --four-col: 33vw;
  --five-col: 41.66vw;
  --six-col: 50vw;
  --seven-col: 58.33vw;
  --eight-col: 66.66vw;
  --nine-col: 75vw;
  --ten-col: 83.33vw;
  --eleven-col: 91.66vw;
  --divider: #ccc;
  --box-roundness: 10px;

  --homepage-hero-carousel-offset: -000%
}
html {
  box-sizing:border-box;
  font-family:"Raleway", sans-serif;
  font-size:1.25em;
  color:var(--main-color);
}
*, *::before, *::after {
  box-sizing:inherit;
}
body {
  margin:0;
}
h1, h2, h3, h4, h5, h6 {
  font-family:"Roboto Condensed", sans-serif;
  font-weight:700;
  margin:0;
}
a {
  color:var(--primary);
  text-decoration:none;
}
a:hover {
  text-decoration: underline;
}

.faux-button,
button {
  background-color: var(--primary);
  font-family: inherit;
  font-size: 1em;
  padding: 10px 20px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
}

.faux-button:hover,
button:hover {
  background-color: var(--primary-highlighted);
  cursor: pointer;
  text-decoration: none;
}

.circular-image {
  border-radius: 100vw;
}

.centered-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em var(--one-col);
  gap: 1em;
}

.full-width {
  width: 100%;
}

.center-split-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2em var(--one-col);
  gap: var(--one-col);
  align-items: center;
}

.center-split-section > * {
  max-width: var(--five-col);
}

.section-flashcard {
  margin-left: var(--one-col);
  max-width: var(--five-col);
}

.section-flashcard-alt {
  max-width: var(--five-col);
}

.section-flashcard-image {
  max-width: var(--five-col);
  object-fit: contain;
  height: fit-content;
  border-radius: var(--box-roundness);
}

.display-text {
  font-size: 3em;
}

.hero-section {
  background-color: #000a;
  background-blend-mode: darken;
  background-size: cover;
  background-position-y: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em var(--one-col);
  height: 25em;
}

.homepage-hero-section {
  max-height: 33em;
}

.animated-hero-section {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow: hidden;
}

.carousel-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
}

.carousel {
  display: flex;
  height: 100%;
}

.carousel > * {
  min-width: 100%;
  object-fit: cover;

  transition: transform 0.5s;
}

.carousel-controls {
  position: absolute;
  bottom: 1em;
  display: flex;
  justify-content: center;
  width: 100%;
}

.carousel-indicator-dot {
  display: inline-block;
  font-family: monospace;
  border-radius: 100vw;
  border: 1px solid white;
  color: #0000;
  height: 1em;
  width: 1em;
}

.carousel-indicator-dot-filled {
  background-color: white;
}

.flex-vertically-centered {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text {
  color: #fff;
}

/* 2. MAIN */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  background-color: --var(--bg);
  padding-left: var(--one-col);
  padding-right: var(--one-col);
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

#mobile-menu-button {
  display: none;
  color: var(--text);
  padding: 0;
  background-color: inherit;
  font-family: inherit;
}

#homepage-hero {
  background-image: url(images/hero.jpeg);
  background-position-y: 25%;
}

#aboutpage-hero {
  background-image: url(images/aboutpage-hero.jpeg);
  background-position-y: 25%;
}

#contactpage-hero {
  background-image: url(images/contactpage-hero.jpeg);
  background-position-y: 25%;
}

.header-emphasis {
  margin-bottom: 0.125em;
  text-transform: uppercase;
  color: var(--primary)
}

#features-section img {
  object-fit: contain;
  height: fit-content;
  border-radius: var(--box-roundness);
}

.hero-section p,
.hero-section h2 {
  color: #fff;
}

#cta-section {
  background-image: url(images/cta.jpeg);
  background-position-y: 25%;
  height: 20em;
}

#copyright-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3em;
  border-top: 2px solid var(--divider);
  font-size: 0.75em;
  padding-left: var(--one-col);
  padding-right: var(--one-col);
}

#legal-links {
  display:flex;
  flex-direction: row;
  gap: 1em;
} 

#contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#contact-form textarea,
#contact-form input {
  border: 1px solid var(--primary);
  border-radius: 2px;
  padding: 0.5em;
  margin-bottom: 1.5em;
  font-family: inherit;
  font-size: 1em;
}

#homepage-hero-carousel {
  filter: brightness(33%);
}

#homepage-hero-carousel > * {
  transform: translateX(var(--homepage-hero-carousel-offset));
}

/* 3. MEDIA QUERIES */
@media screen and (max-width: 768px){
  .homepage-hero-section {
    height: 20em;
  } 

  #contact-section {
    flex-direction: column;
  }

  #contact-section > * {
    max-width: 100%;
  }

}

@media screen and (max-width: 480px){
  header {
    flex-wrap: wrap;
    gap: 1em;
    padding-top: 1.5em;
    height: fit-content;
  }

  #mobile-menu-button {
    display: inline;
  }

  #mobile-menu-button:active {
    background-color: none;
  }

  #mobile-menu-button svg {
    fill: var(--primary);
  }

  #mobile-menu-button svg:active {
    fill: var(--primary-highlighted);
  }

  header nav {
    flex-basis: 100%;
    overflow-y: hidden;
    flex-direction: column;
    align-items: center;

    /*animate*/
    border-top: none; /*-> 1px solid var(--divider)*/
    height: 0; /*-> 100%*/
    padding-bottom: 0; /*-> 1.5em*/
    padding-top: 0; /*-> 1.5em*/
    transition: all 0.25s ease;
  }

  #homepage-hero {
    background-position-x: 50%;
  }

  .center-split-section {
    flex-direction: column;
  }

  .section-flashcard,
  .section-flashcard-alt,
  .center-split-section > * {
    max-width: 100%;
  }

  .section-flashcard {
    margin-right: var(--one-col);
  }

  #copyright-bar {
    flex-wrap: wrap-reverse;
    gap: 1em;
    height: fit-content;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    justify-content: center;
  }

  #copyright-bar span:first-child {
    text-align: center;
  }

  .display-text {
    font-size: 2.5em;
    text-align: center;
  }
}